__pycache__
node_modules/
!test/mock/dep-warn/**/node_modules
.nyc_output/
coverage/
package-lock.json
test/mock/*/.db
test/mock/*/src/*/*/vendor/
test/mock/*/tmp
test/mock/tmp
# special case in which we're testing local shared file dependency paths
test/mock/dep-warn/**/src/http/get-deps_in_shared/node_modules/@architect/
