.DS_Store
__pycache__
!test/mock/dep-warn/**/node_modules
.nyc_output/
bin/*.json
bin/sandbox-binary*
coverage/
node_modules/
package-lock.json
scratch/
test/mock/*/.db
test/mock/*/src/*/*/vendor/
test/mock/*/tmp
test/mock/tmp

# special case in which we're testing local shared file dependency paths
test/mock/dep-warn/**/node_modules/@architect/
