name: Binary build

# Push tests pushes
on: [ push ]

defaults:
  run:
    shell: bash

jobs:

  # Test the build
  build:
    # Setup
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [ 14.x ]
        os: [ windows-latest, ubuntu-latest, macOS-latest ]

    # Go
    steps:
    - name: Check out repo
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    # Hardcoded individual Python and Ruby versions (for now)
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'

    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.5'

    - name: Set up Deno
      uses: denolib/setup-deno@v2
      with:
        deno-version: v1.x

    - name: Env
      run: |
        echo "Event name: ${{ github.event_name }}"
        echo "Git ref:    ${{ github.ref }}"
        echo "GH actor:   ${{ github.actor }}"
        echo "SHA:        ${{ github.sha }}"
        VER=`node --version`; echo "Node ver:   $VER"
        VER=`npm --version`; echo "npm ver:    $VER"
        VER=`python --version`; echo "Python ver: $VER"
        VER=`ruby --version`; echo "Ruby ver:   $VER"
        VER=`deno --version`; echo "Deno ver:   $VER"
        echo "OS ver:     ${{ runner.os }}"

    - name: Install
      run: npm install

    - name: Build
      run: npm run build
      env:
        BUILD_ALL: false

    - name: Test
      run: npm run test:integration
      env:
        BINARY_ONLY: true
        CI: true

    - name: Notify
      uses: sarisia/actions-status-discord@v1
      # Only fire alert once
      if: github.ref == 'refs/heads/main' && failure() && matrix.node-version == '14.x' && matrix.os == 'ubuntu-latest'
      with:
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        title: "build and test"
        color: 0x222222
        username: GitHub Actions
